@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}
table {
    max-height: 484px;
    display: block;
    margin: 0px auto;
    margin-left: 70%;
    margin-top: 10%;
}

.ask-price {
    color: #FF3B69;

}
.bid-price {
    color: #02BA55;
}
.table {
    border-collapse: collapse;
    overflow: scroll;
    
}
    
td {
    border: 0.5px solid black;
    padding: 10px;
    text-align: left;
    font-size: 15px;
   
  }
* {
    background-color: #0e121a;
    color: rgb(228, 228, 228);
}
th {
    text-align: left;
    padding: 10px;
    background-color: #111722;
    font-weight: 700;
    font-size: 17px;
}



.table.sticky th {
position: sticky;
top: 0;
border: 0.5px solid black;
border-bottom: 2.5px solid black;
}
.ask-price:hover {
    background-color: rgba(72, 37, 51, 1);
}
.bid-price:hover {
    background-color: rgba(36, 66, 57, 1);
}