@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}
table {
    max-height: 484px;
    max-width: 100%;
    display: inline-block;
    margin: 0px auto;
    margin-left: 35.5%;
    margin-top: 3%;
    border: 3px solid rgb(21, 34, 49);
}

.ask-price {
    color: #FF3B69;

}
.bid-price {
    color: #02BA55;
}
.table {
    border-collapse: collapse;
    overflow: auto;
    
}
    
td {
    border: 0.5px solid black;
    padding: 10px;
    text-align: left;
    font-size: 15px;
   
  }
* {
    background-color: #0e121a;
    color: rgb(228, 228, 228);
}
th {
    text-align: left;
    padding: 10px;
    background-color: #111722;
    font-weight: 700;
    font-size: 17px;
}



.table.sticky th {
position: sticky;
top: 0;
border: 0.5px solid black;
border-bottom: 2.5px solid black;
}
.ask-price:hover {
    background-color: rgba(72, 37, 51, 1);
}
.bid-price:hover {
    background-color: rgba(36, 66, 57, 1);
}

/* width */
::-webkit-scrollbar {
    width: 9px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #090c11;
    width: 9px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    width: 9px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(19, 29, 51);
    width: 9px;
  }

  .info {
    text-align: center;
    margin-top: 5%;
  }